@{
    ViewData["Title"] = "Sobre Nós";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Sobre Nós</h1>
                    <ul class="breadcrumb-nav">
                        <li> <a class="btn" href="@Url.Action("Index","Home")">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="about section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="image wow fadeInLeft" data-wow-delay=".2s">
                    <img src="@Url.Content("~/images/transito-dest.jpg")" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="content wow fadeInRight" data-wow-delay=".4s">
                    <h4>Reclame Ali</h4>
                    <h2>Construímos uma plataforma para facilitar o seu dia.</h2>
                    <div class="list">
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>Informação sobre o trânsito</h4>
                            <p>Sempre em tempo real</p>
                        </div>
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>Informação sobre acidentes</h4>
                            <p>Sempre em tempo real</p>
                        </div>
                        <div class="single-list">
                            <div class="list-icon">
                                <i class="lni lni-checkmark"></i>
                            </div>
                            <h4>Informação sobre problemas na via</h4>
                            <p>Sempre em tempo real</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="services section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Idealizadores</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Os melhores da Fiap
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="single-service">
                    <div class="main">
                        <img src="@Url.Content("~/images/erlis.jfif")" alt="#">
                    </div>
                    <h4 class="text-title">Erlis B. Gonçalves de Lima</h4>
                    <a href="https://www.linkedin.com/in/erlis-brito-gon%C3%A7alves-de-lima-27v/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                <div class="single-service">
                    <div class="main">
                        <img src="@Url.Content("~/images/rai.jfif")" alt="#">
                    </div>
                    <h4 class="text-title">Raissa Iorio</h4>
                    <a href="https://www.linkedin.com/in/raissa-iorio/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                <div class="single-service">
                    <div class="main">
                        <img src="@Url.Content("~/images/israel.jfif")" alt="#">
                    </div>
                    <h4 class="text-title">Israel Ribeiro</h4>
                    <a href="https://www.linkedin.com/in/israel-ribeiro-90999385/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="single-service">
                    <div class="main">
                        <img src="@Url.Content("~/images/gabriel.jfif")" alt="#">
                    </div>
                    <h4 class="text-title">Gabriel Andrade</h4>
                    <a href="https://www.linkedin.com/in/gabriel300p/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                <div class="single-service">
                    <div class="main">
                        <img src="@Url.Content("~/images/lucas.jpg")" alt="#">
                    </div>
                    <h4 class="text-title">Lucas Alves dos Santos </h4>
                   <a href="https://www.linkedin.com/in/lucas-alves-dos-santos-78a572213/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                <div class="single-service">
                    <div class="main">
                       <img src="@Url.Content("~/images/imgtiago.jfif")" alt="#">
                    </div>
                    <h4 class="text-title">Thiago Vazquez Enninger</h4>
                    <a href="https://www.linkedin.com/in/thiago-vazquez-enninger-542077b6/">
                        Me encontre linkedin
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



